.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
}

.form {
  background: #132f4c;
  padding: 30px;
  margin-top: 30px;
  border-radius: 5px;
  width: 100%;

  &__h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    font-weight: 400;
    margin-bottom: 30px;
  }
}